@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reseteo global para asegurar pantalla completa */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* --- LA SOLUCIÓN AL MAPA BLANCO --- */
/* Cuando esta clase está activa, forzamos transparencia total */
.transparent-body {
  background: transparent !important;
  background-color: transparent !important;
  --tw-bg-opacity: 0 !important;
}

.transparent-body body {
  background: transparent !important;
  background-color: transparent !important;
}

.transparent-body #root {
  background: transparent !important;
  background-color: transparent !important;
}
